/**APLICANDO BORDAS COMO PROPIEDADES DO ELEMENTO - TAMANHO, ESTILO DA BORDA E COR (SEQUÊNCIA DAS PROPIEDADES)**/
h1 {
    background-color: red;
    border: 2px solid black;
}

.p1 {
    border: 5px dotted blue;
}

.p2 {
    border: 5px dashed black;
}

.p3 {
    border: 5px double red;
}

.p4 {
    border: 5px groove goldenrod;
}

/**APLICANDO BORDAS COM DIREÇÕES (CIMA - TOP / BOTTOM - BAIXO / LEFT - ESQUERDA / RIGHT)**/
.p5 {
    border-bottom: 5px groove green;
}

/**APLICANDO BORDAS COM ARREDONDAMENTO**/
.p6 {
    background-color: black;
    color: white;
    border-radius: 3px;
}

/**APLICANDO BORDAS COM ARREDONDAMENTO - FAZENDO CIRCULO **/
div {
    background-color: greenyellow;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 2px solid black;
}